<div class="ui container">
    <form [formGroup]="searchForm" class="ui form">
        <div class="field">
            <label>State</label>
            <select class="ui fluid dropdown" formControlName="state">
                <option value="VIC">VIC</option>
                <option value="NSW">NSW</option>
                <option value="QLD">QLD</option>
                <option value="TAS">TAS</option>
                <option value="WA">WA</option>
                <option value="NT">NT</option>
                <option value="ACT">ACT</option>
            </select>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Suburb</label>
                <input type="text" formControlName="suburb">
            </div>
            <div class="field">
                <label>Postcode</label>
                <input type="text" formControlName="postcode">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Bedrooms</label>
                <select class="ui fluid dropdown" formControlName="bedrooms">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="field">
                <label>Property Type</label>
                <select class="ui fluid dropdown" formControlName="type">
                    <option value="House">House</option>
                    <option value="Unit">Unit</option>
                </select>
            </div>
        </div>
        <button class="ui primary button" type="button" (click)="storeFormsValue()">Search</button>
    </form>
    <div class="ui card">
        <div class="content">
          <div class="header">{{displaySuburb}} {{displayPostcode}}</div>
          <div class="meta">
            <span>{{displayType}} {{displayBedrooms}} Bedrooms</span>
            <a>Median Sale Price: ${{result.medianSoldPrice}}</a>
            <a>Days on Market: ${{result.daysOnMarket}}</a>
            <a>Median Rent Price: ${{result.medianRentListPrice}}</a>
          </div>
          <p></p>
        </div>
      </div>
</div>


