<div class="ui container">
    <form [formGroup]="searchForm" class="ui form">
        <div class="field">
            <label>State</label>
            <select class="ui fluid dropdown" formControlName="state">
                <option value="VIC">VIC</option>
                <option value="NSW">NSW</option>
                <option value="QLD">QLD</option>
                <option value="TAS">TAS</option>
                <option value="WA">WA</option>
                <option value="NT">NT</option>
                <option value="ACT">ACT</option>
            </select>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Suburb</label>
                <input type="text" formControlName="suburb">
            </div>
            <div class="field">
                <label>Postcode</label>
                <input type="text" formControlName="postcode">
            </div>
        </div>
        <button class="ui primary button" type="button" (click)="storeFormsValue()">Search</button>
    </form>
    {{ searchForm.value | json }}
</div>
