<div class="ui container">
    <form class="ui form">
        <div class="field">
            <label>State</label>
            <select class="ui fluid dropdown">
                <option value="VIC">VIC</option>
                <option value="NSW">NSW</option>
                <option value="QLD">QLD</option>
                <option value="TAS">TAS</option>
                <option value="WA">WA</option>
                <option value="NT">NT</option>
                <option value="ACT">ACT</option>
            </select>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Suburb</label>
                <input type="text">
            </div>
            <div class="field">
                <label>Postcode</label>
                <input type="text">
            </div>
        </div>
        <button class="ui primary button">Search</button>
    </form>
</div>